$pad: 35px;

.panel-left {
  margin-bottom: $vert-spacing;
}

@include breakpoint ($tab) {

  .panel-left,
  .panel-right {
    float: left;
    padding: 0 $pad;
    width: 50%;
  }

  .panel-left {
    margin-left: -($pad);
  }

  .panel-right {
    margin-right: -($pad);
  }

}
